.h2Title{
    color: #FFF;
    font-size: 6rem;
}
.h2Title.hidden{
    display: none;
}
.h2Title.show{
    display: block; 
}
.h2Title.animated{
    color: #00a2ff;
    animation: animateH1 1s ease-in-out 1;
}